[submodule "modules/Issues-FS"]
	path = modules/Issues-FS
	url = git@github.com:owasp-sbot/Issues-FS.git
	branch = dev
[submodule "modules/Issues-FS__Service__Client__Python"]
	path = modules/Issues-FS__Service__Client__Python
	url = git@github.com:owasp-sbot/Issues-FS__Service__Client__Python.git
	branch = dev
[submodule "modules/Issues-FS__Service"]
	path = modules/Issues-FS__Service
	url = git@github.com:owasp-sbot/Issues-FS__Service.git
	branch = dev
[submodule "modules/Issues-FS__Service__UI"]
	path = modules/Issues-FS__Service__UI
	url = git@github.com:owasp-sbot/Issues-FS__Service__UI.git
	branch = dev
[submodule "modules/Issues-FS__Docs"]
	path = modules/Issues-FS__Docs
	url = git@github.com:owasp-sbot/Issues-FS__Docs.git
	branch = dev
[submodule "modules/Issues-FS__CLI"]
	path = modules/Issues-FS__CLI
	url = git@github.com:owasp-sbot/Issues-FS__CLI.git
	branch = dev
[submodule "roles/Issues-FS__Dev__Role__DevOps"]
	path = roles/Issues-FS__Dev__Role__DevOps
	url = git@github.com:owasp-sbot/Issues-FS__Dev__Role__DevOps.git
	branch = dev
[submodule "roles/Issues-FS__Dev__Role__Librarian"]
	path = roles/Issues-FS__Dev__Role__Librarian
	url = git@github.com:owasp-sbot/Issues-FS__Dev__Role__Librarian.git
	branch = dev
[submodule "roles/Issues-FS__Dev__Role__Dev"]
	path = roles/Issues-FS__Dev__Role__Dev
	url = git@github.com:owasp-sbot/Issues-FS__Dev__Role__Dev
	branch = dev
[submodule "roles/Issues-FS__Dev__Role__Conductor"]
	path = roles/Issues-FS__Dev__Role__Conductor
	url = git@github.com:owasp-sbot/Issues-FS__Dev__Role__Conductor
	branch = dev
[submodule "roles/Issues-FS__Dev__Role__Architect"]
	path = roles/Issues-FS__Dev__Role__Architect
	url = git@github.com:owasp-sbot/Issues-FS__Dev__Role__Architect
	branch = dev
[submodule "roles/Issues-FS__Dev__Role__Cartographer"]
	path = roles/Issues-FS__Dev__Role__Cartographer
	url = git@github.com:owasp-sbot/Issues-FS__Dev__Role__Cartographer.git
	branch = dev
[submodule "roles/Issues-FS__Dev__Role__AppSec"]
	path = roles/Issues-FS__Dev__Role__AppSec
	url = git@github.com:owasp-sbot/Issues-FS__Dev__Role__AppSec
	branch = dev
[submodule "roles/Issues-FS__Dev__Role__Historian"]
	path = roles/Issues-FS__Dev__Role__Historian
	url = git@github.com:owasp-sbot/Issues-FS__Dev__Role__Historian
	branch = dev
[submodule "roles/Issues-FS__Dev__Role__Journalist"]
	path = roles/Issues-FS__Dev__Role__Journalist
	url = git@github.com:owasp-sbot/Issues-FS__Dev__Role__Journalist
	branch = dev
[submodule "roles/Issues-FS__Dev__Role__QA"]
	path = roles/Issues-FS__Dev__Role__QA
	url = git@github.com:owasp-sbot/Issues-FS__Dev__Role__QA.git
	branch = dev
[submodule "humans/Issues-FS__Dev__Human__Dinis_Cruz"]
	path = humans/Issues-FS__Dev__Human__Dinis_Cruz
	url = git@github.com:owasp-sbot/Issues-FS__Dev__Human__Dinis_Cruz.git
	branch = dev
[submodule "dev/Issues-FS__Dev__Utils"]
	path = dev/Issues-FS__Dev__Utils
	url = git@github.com:owasp-sbot/Issues-FS__Dev__Utils.git
	branch = dev
[submodule "roles/Issues-FS__Dev__Role__Designer"]
	path = roles/Issues-FS__Dev__Role__Designer
	url = git@github.com:owasp-sbot/Issues-FS__Dev__Role__Designer.git
	branch = dev
