[submodule "modules/Issues-FS"]
	path = modules/Issues-FS
	url = git@github.com:owasp-sbot/Issues-FS.git
[submodule "modules/Issues-FS__Service__Client__Python"]
	path = modules/Issues-FS__Service__Client__Python
	url = git@github.com:owasp-sbot/Issues-FS__Service__Client__Python.git
[submodule "modules/Issues-FS__Service"]
	path = modules/Issues-FS__Service
	url = git@github.com:owasp-sbot/Issues-FS__Service.git
[submodule "modules/Issues-FS__Service__UI"]
	path = modules/Issues-FS__Service__UI
	url = git@github.com:owasp-sbot/Issues-FS__Service__UI.git
[submodule "modules/Issues-FS__Docs"]
	path = modules/Issues-FS__Docs
	url = git@github.com:owasp-sbot/Issues-FS__Docs.git
[submodule "modules/Issues-FS__CLI"]
	path = modules/Issues-FS__CLI
	url = git@github.com:owasp-sbot/Issues-FS__CLI.git
	branch = dev
